/**
- Font size (paragraph): 15px
- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 400, 700
*/
:root {
    // Font family
    --font-body: "Outfit", sans-serif;

    // Font sizes
    --font-body-size: 0.9375rem;
	--font-attribution-size: .75rem;

    // Weights
    --font-w-400: 400;
    --font-w-700: 700;
}
