// Flex
.flex {
	display: flex;
}

.f-jc-c {
	justify-content: center;
}

.f-ai-c {
	align-items: center;
}

.f-fd-col {
	flex-direction: column;
}

body {
	// Add some padding so that the content doesn't touch the edges of the viewport
	padding: 1rem;
}
